.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: grey;
}
.video{
  width: '100vw';
  height: '100vh';
  position: 'fixed';
  top: 0;
  left: 0;
}

.landing {
  position: absolute;
  font-size: 200%;
  top: 40%; 
  left: 0;
  text-align: center; 
  width: 100%; 
  font-family: 'Lato', sans-serif;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.white {
  color: white;
}

.black {
  color: black;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.lime {
  color: lime;
}

.home h1 {
  color: white;
}